<IfModule mod_rewrite.c>
    RewriteEngine On

    # Denegar el acceso a las carpetas "app", "config", "logs" y "sql"
    RewriteRule ^(app|config|logs|sql)/ - [F]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>